@charset "utf-8";

$font: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

body {
    background-color: hsl(0, 0%, 100%);
    max-width:100%;
    font-weight: 700;
    display: grid;
    grid-template: 
        "header"
        "main"
        "right"
        "footer";
}
$areas: header, main, right, footer;
@each $area in $areas {
    .#{$area} {
        grid-area: #{$area}
    }
}

.navbar {
    font-family: $font;
    div.container {
        text-align: center;
        display: block;
    }
}

.navbar-dark .navbar-brand {
    max-width: 88%;
}
.bg-dark{
    background-color: #6dd4ec !important;
    
}

.navbar-brand {
    font-size: 1.54rem;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif!important;

}

.container {
    max-width: 90%;
    padding: 0px;
}

.breadcrumb {
    background-color: rgba(0, 0, 0, 0);
    overflow-x: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 0.23rem;
    padding-inline-start: 2px;
    font-size: 0.71rem;
}

.breadcrumb-item, .fa-home, .breadcrumb-item::before {
    color: #999999 !important;
}

.border {
    border: 0 !important;
    border-bottom: 1px solid #dee2e6 !important;
    background-color: white;
    margin-top: 30px;
}

.p-4 {
    padding: 0rem !important;
}

.mb-4 {
    margin-bottom: 0.75rem !important;
}

div {
    .comment {
        background-color: #ffffff;
    }    
    .btn_bar {
        display: flex;
    }
    .search-btn {
        width: auto;
        margin-left: auto;
        margin-top: 0.5rem;
        margin-right: 0.34rem;
    }
    .top_list {
        max-height: 233px;
    }
    .card-meta {
        width: 100%;
        font-size: 0.85rem;
    }

    .top_meta_font {
        color: white;
    }
}
.mt-4 {
    margin-top: 0px !important;
}

.card {
    display: flex;
    margin-bottom: unset !important;
    border: unset;
    border-bottom: 1px solid #ebebeb;
    min-height: 120px;
}

.mc-wrapper {
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 2rem;
    font-family: '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;;
}

.thr_thumbnail, .latest-thumbnail{
    margin-top: 0.87rem;
    width: 85px;
    height: 85px;
    display: inline-block;
}
.card-body, .latest-body {
    max-width: 70%;
    display: inline-block;
    line-height:1;
    vertical-align: top;
    padding: 0.87rem 0.2rem;
}

img {
    width: 100%;
    height: 80px;
    vertical-align:-40%;
}
.top_image{
    width: 100%;
    height: 233px;
    position: absolute;
}
.thr_show_thumbnail img {
    width: 92%;
    height: auto;
    margin-top: 1rem;
}
p {
    margin-bottom: 0.25rem;
}
p.card-text{
    color: #999;
    font-size: 0.5rem;
    margin-top: 1rem;
}
.thread_title {
    font-size:13px;
    font-size:0.92rem;
    font-weight: 700;
    color: #00141b;
}

.time_line {
    width: 100%;
    padding: 20px 20px 0;
    text-align: center;
}
nav {
    margin: 0.5rem auto;
}
.twitter-timeline {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.comment_section {
    margin-top: 1.34rem;
}

form {
    background-color: #ffffff;
}
/*button:not(:disabled),
[type=submit]:not(:disabled) {
width: 100%;
}*/

label {
    font-size: 1.056rem;
}
.show-title {
    font-weight: 700;
    font-size: 1.15rem;
    color: #444444;
}
.show-data {
    border-bottom: solid 1px #DFEDEF !important;
    font-size: 0.69rem;
    color: #999999;
}

.show-body {
    font-weight: lighter;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem !important;
    font-size: 0.94rem;
    font-family: $font;
    color: #494848;
    text-align: justify;
    letter-spacing: 0.2rem;
}

.subtitle{
    border-left: 5px solid #5bbee5;
    padding-left: 10px;
    margin-top: 2.23rem;
    font-size: 1.03rem;
    color: #4C5252;
}

.twitter-tweet {
    width: 100% !important;
}

.meta-date {
    font-size: 0.54rem;
    color: #bac0c3;
}
 
.footer {
    background-color: #64c1dc;
}
.edit-item {
    border: 1px groove;
    label {
        background-color: #a3dff0;
        width: 100%;
        font-size: 1rem;
    }
}

.caption {
    margin: 0.87rem;
}

.change-file {
    width: 240px;
    height: 150px;
}
.category-radio {
    background-color: #efefef !important;
    font-size: 0.89rem !important;
}

//幅560px以上に適用されるCSS（タブレット用ブレイクポイント）
@media screen and (min-width:560px){
    body {
        grid-template: 
            "header"
            "main"
            "right"
            "footer"
    }
    $areas: header, main, right, footer;
    @each $area in $areas {
        .#{$area} {
            grid-area: #{$area}
        }
    }
    .main {
        background-color: #f4f5f6;
    }
    .container {
        width: 87%;
        max-width: 580px;
    }
    figure.thr_thumbnail {
        max-width: 235px;
    }
    .latest-thumbnail {
        width: 200px;
        height: 115px;
        img {
           width: 100%; 
           height: 100%;
        }
    }
    .thr_thumbnail {
        width: 160px;
        height: 120px;
        margin: 0.87rem;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .thread_title {
        font-size: 1.13rem;
        color: #333333;
    }
    .card-body {
        max-width: 55%;
    }
}

//幅960px以上に適用されるCSS（PC用ブレイクポイント）
@media screen and (min-width:960px){
    body {
        grid-template: 
            "header header"
            "main right"
            "footer footer"
            / 3fr 1fr;;
    }
    $areas: header, main, right, footer;
    @each $area in $areas {
        .#{$area} {
            grid-area: #{$area}
        }
    }
    .main {
        background-color: #f4f5f6;
    }

    .mb-4 {
        margin-bottom: 12px !important;
    }
    .latest-items {
        max-width: 33%;
        display: inline-block;
        height: 260px;
        vertical-align: top;
    }
    .latest-body {
        padding: 7px;
        max-width: 100%;
        line-height:1;
        vertical-align: top; 
        display: block;
    }
    .latest-thumbnail {
        width: 100%;
        max-width: 100%;
        img {
           width: 100%; 
           height: 150px;;
        }
    }
    .container {
        width: 92%;
        max-width: 786px;
    }
    div  {
        .card {
            min-height: 154px;
        }
    }    
    .thr_thumbnail {
        width: 220px;
        height: 148px;
        margin: 0.87rem;
    }
    .thread_title {
        font-size: 1.13rem;
        color: #333333;
    }
}
