@charset "utf-8";

$font: '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
$site-color: #e8faff;

body {
    background-color: hsl(0, 0%, 100%);
    font-weight: 700;
    word-break: break-all;
}
.main-container{
    position:relative;
    display: grid;
    grid-template: 
        "header"
        "main"
        "right"
        "footer";
}
$areas: header, main, right, footer;
@each $area in $areas {
    .#{$area} {
        grid-area: #{$area};
    }
}

.navbar {
    font-family: $font;
    div.container {
        text-align: center;
        display: block;
    }
}
.bg-dark{
    background-color: $site-color !important;
    width: 100%;
}

.navbar-brand {
    color: #5bbee5 !important;
    font-size: 1.74rem;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif!important;
    font-weight: 200;
}

.container {
    padding: 0px;
}
.bread-area {
    width: 100%;
}
.breadcrumb {
    width: 100%;
    padding: 0;
    list-style: none;
    background: #ffffff;
    display: block;
    white-space: nowrap;
    font-weight: 100;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow: auto;
    white-space: nowrap;
    background-color: #ededed;
  }
  
  .breadcrumb li {
    display: inline-block;
    list-style: none;
  }
  
  .breadcrumb li:after {
    /* >を表示*/
    font-family: FontAwesome;
    content: '>';
    padding: 0 0.2em;
    color: #8186a0;
  }
  
  .breadcrumb li:last-child:after {
    content: '';
  }
  
  .breadcrumb li a {
    text-decoration: none;
    color: #273376;
  }
    
  .breadcrumb li a:hover {
    text-decoration: underline;
  }

.border {
    border: 0 !important;
    border-bottom: 1px solid #dee2e6 !important;
    background-color: white;
    margin-top: 30px;
}

.p-4 {
    padding: 0px !important;
    max-width: 90%;
    margin-left: 5%;
}

.mb-4 {
    margin-bottom: 0.75rem !important;
}

div {
    .comment {
        background-color: #ffffff;
    }    
    
    .btn_bar {
        display: flex;
    }
    .search-btn {
        width: auto;
        margin-left: auto;
        margin-top: 0.5rem;
        margin-right: 0.34rem;
    }
    .top_list {
        max-height: 233px;
    }
    .card-meta {
        width: 100%;
        font-size: 0.85rem;
    }

    .top_meta_font {
        color: white;
    }
}
.mt-4 {
    width: 100%;
}

.card {
    display: flex;
    margin-bottom: unset !important;
    border: unset;
    border-bottom: 1px solid #ebebeb;
    min-height: 120px;
    padding-left: 10px;
}
.mc-wrapper {
    padding-right: 1px;
    padding-left: 1px;
    font-family: $font;
}

.thr_thumbnail {
    margin-top: 0.87rem;
    width: 85px;
    height: 85px;
    display: inline-block;
}
.thumbnail {
    border-radius: 5px;
}
.card-body, .latest-body {
    max-width: 70%;
    display: inline-block;
    line-height:1;
    vertical-align: top;
    padding: 0.87rem 0.2rem;
}

img {
    width: 100%;
    height: 80px;
    vertical-align:-40%;
}
.top_image{
    width: 100%;
    height: 233px;
    position: absolute;
}
.thr_show_thumbnail img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 5px;
}
p {
    margin-bottom: 0.25rem;
}
p.card-text{
    color: #999;
    font-size: 0.5rem;
    margin-top: 1rem;
}
.thread_title {
    font-size:13px;
    font-size:0.81rem;
    font-weight: 700;
    color: #444444;
}

.time_line {
    width: 100%;
    padding: 20px 20px 0;
    text-align: center;
}
.twitter-timeline {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.comment_section {
    margin-top: 1.34rem;
}

form {
    background-color: #ffffff;
}

label {
    font-size: 1.056rem;
}
.show-title {
    font-weight: 700;
    font-size: 1.15rem;
    color: #444444;
}
.show-data {
    border-bottom: solid 1px #DFEDEF !important;
    font-size: 0.69rem;
    color: #999999;
}

.show-body {
    font-weight: lighter;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem !important;
    font-size: 0.94rem;
    font-family: $font;
    color: #494848;
    text-align: justify;
    letter-spacing: 0.12rem;
    font-family: inherit;
    line-height: 1.9;
}

.subtitle{
    border-left: 4px solid #8eceeb;
    padding: 5px 0px 5px 10px;
    margin-top: 2.23rem;
    font-size: 19.5px;
    color: #4C5252;
    font-family: inherit;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.twitter-tweet {
    width: 100% !important;
}


.meta-date, .far {
    font-size: 0.75rem;
    color: #9fa1a2;
}
 
.footer {
    background-color: #64c1dc;
}
.edit-item {
    border: 1px groove;
    label {
        background-color: #a3dff0;
        width: 100%;
        font-size: 1rem;
    }
}

.caption {
    margin: 0.87rem;
}

.change-file {
    width: 240px;
    height: 150px;
}
.category-radio {
    background-color: #efefef !important;
    font-size: 0.89rem !important;
}
//タグ
.tag-name {
    border-radius: 3px;
    padding: 10px 5px 5px 5px;
    text-align: center;
}
h5 {
    color: #69c0df;
}

.clickTagSearchList {
    display: inline-block;
}
.tag-list {
    list-style: none;
    margin-bottom: 0;
    padding-inline-start: 0rem;
    margin-top: 5px;
}
.tag-keyword {
    border: 1px solid;
    border-radius: 16px;
    padding: 3px 9px;
    background-color: #6cb2eb;
    color: #ffffff;
    font-size: 1rem;
    font-weight: normal;
}

//ページネーション
div .pagination {
    justify-content: center;
    margin-top: 1rem;
}
.page-link {
    border-radius: 0.8rem;
    margin: 0 0.3rem;
    border-top-left-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
    border-bottom-right-radius: 0.8rem !important;
    color: #7fc9ef;
}
.page-item.active .page-link {
    color: #9fa1a2;
    background-color: #ffffff;
    border-color: #b2b2b2;
}
.page-item {
    font-size: 1rem;
}
// サイドメニュー
.right {
    background-color: $site-color;
}
.sidetop {
    margin: 1rem 0.7rem;
    background-color: rgba(255,255,255,0.85);
    border-radius: 8px;
}
.sidetag {
    font-size: 1rem;
    font-family: $font;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid;
    border-color: #7ecbe8;
}
.sidetag a {
    color: #444444;
}
// 検索フォーム
.search-icon {
    position:absolute; top:0px; right:0px;
    font-size: 1.2rem;
    color: #8babab;
    height: 100%;
}
.fa-search {
    padding: 24px 15px;
}
.search-result {
    text-align: center;
}
.search-result-title {
    background: -webkit-linear-gradient(0deg, #cff8ff, #58bdee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.search-result-sub-title {
    color: #acb1b2;
}
.search-section {
    width: 100%;
    padding: 11px;
    position: absolute;
    right: 0px;
    top: 60px;
    height: 60px;
    border-radius: 16px;
    background-image: linear-gradient(to bottom right, #a3defa, #ecf8cb);
    border: solid thin #bfd1d5;
    z-index: 1;
}
.search-form {
    border-radius: 15px;
}
.search-keyword {
    width: 100%;
    height: 36px;
    border-radius: 15px;
    border: #049cf4;
}
input[type=text]:focus {
    outline: none;
}

// btn
.btn {
    margin: 0 10px;
}
//幅560px以上に適用されるCSS（タブレット用ブレイクポイント）
@media screen and (min-width:560px){
    .main-container {
        grid-template: 
            "header"
            "main"
            "right"
            "footer"
    }
    $areas: header, main, right, footer;
    @each $area in $areas {
        .#{$area} {
            grid-area: #{$area}
        }
    }
    .main {
        background-color: #ffffff;
    }
    .container {
        width: 87%;
        max-width: 750px;
    }
    .breadcrumb {
        max-width: 100%;
    }
    .thr_thumbnail {
        width: 160px;
        height: 120px;
        margin: 0.87rem;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .thread_title {
        font-size: 1.13rem;
        color: #333333;
    }
    .card-body {
        max-width: 55%;
    }
    .thr_show_thumbnail img {
        width: 550px;
    }
}

//幅960px以上に適用されるCSS（PC用ブレイクポイント）
@media screen and (min-width:960px){
    .main-container {
        grid-template: 
            "header header header"
            "main right right"
            "footer footer footer"
            / 3fr 1fr;
    }

    .mb-4 {
        margin-bottom: 12px !important;
    }
    .latest-items {
        max-width: 33%;
        display: inline-block;
        height: 260px;
        vertical-align: top;
    }
    .latest-body {
        padding: 7px;
        max-width: 100%;
        line-height:1;
        display: block;
    }
    .container {
        width: 92%;
        max-width: 786px;
    }
    div  {
        .card {
            min-height: 154px;
        }
    }    
    .thr_thumbnail {
        width: 220px;
        height: 148px;
        margin: 0.87rem;
    }
    .thread_title {
        font-size: 1.13rem;
        color: #333333;
    }
    .card-link:hover {
        background-color: #f0fcff;
    }
    .tag-list {
        margin: 50px 0;
    }
    .search-section {
        width: 374px;
        right: 5px;
    }
}
