
.navbar {
    padding: 1rem 1rem;
    div.container {
        text-align: center;
        display: block;
    }
}


 $pc: 1024px; // PC
 $tab: 896px; // TAB
 $sp: 480px;  // SP

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
