@charset "UTF-8";

.navbar {
  padding: 1rem 1rem;
  font-family: "Lato", "Noto Sans JP", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN", "Hiragino Kaku Gothic ProN", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

.navbar div.container {
  text-align: center;
  display: block;
}

div .container {
  padding-right: 1px;
  padding-left: 1px;
}

div .mt-4 {
  margin-top: 0px !important;
}

div .card {
  min-height: 98px;
}

div .mb-4 {
  display: block;
  margin-bottom: 1.25rem !important;
}

figure.thr_thumbnail {
  margin-top: 0.93rem;
  margin-right: 0.92rem;
  margin-bottom: 0.93rem;
  margin-left: 0.5rem;
  max-width: 80px;
  float: left;
}

img {
  width: 70px;
  height: 70px;
}

p {
  margin-bottom: 0.25rem;
}

p.thread_title {
  font-size: 13px;
  font-size: 0.82rem;
}

a {
  color: #000;
}

div.card-meta {
  font-size: 0.77rem;
}

div.card-meta .mr-2 {
  float: left;
  color: #999;
}

div.card-meta .badge-primary {
  font-size: 0.77rem;
  color: #999;
  background-color: #fff;
  font-weight: normal;
}

#category_accordion {
  display: none;
}

#category_accordion ul.category_list {
  list-style: none;
}

.btn_hamburger {
  margin: 0 0 2em auto !important;
  width: 40px;
}

.btn_hamburger a {
  position: relative;
  display: block;
  height: 30px;
  transition: all 0.4s;
  box-sizing: border-box;
}

.btn_hamburger span {
  position: absolute;
  display: inline-block;
  left: 0;
  width: 65%;
  height: 2px;
  background-color: #161b1d;
  border-radius: 2px;
  transition: all 0.4s;
  box-sizing: border-box;
}

.btn_hamburger span:nth-of-type(1) {
  top: 10px;
}

.btn_hamburger span:nth-of-type(2) {
  top: 16.4px;
}

.btn_hamburger span:nth-of-type(3) {
  bottom: 3px;
}

.btn_hamburger span:nth-of-type(2)::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #161b1d;
  border-radius: 2px;
  transition: all 0.4s;
}

.btn_hamburger .active span:nth-of-type(2) {
  transform: rotate(-45deg);
}

.btn_hamburger .active span:nth-of-type(2)::after {
  transform: rotate(90deg);
}

.btn_hamburger .active span:nth-of-type(1) {
  transform: translateY(20px) scale(0);
}

.btn_hamburger .active span:nth-of-type(3) {
  transform: translateY(-20px) scale(0);
}

.time_line {
  width: 100%;
  padding: 20px 20px 0;
  text-align: center;
}

.twitter-timeline {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

@media screen and (min-width: 768px) {
  figure.thr_thumbnail {
    max-width: 235px;
  }

  div .card {
    min-height: 107px;
  }

  img {
    width: 80px;
    height: 80px;
  }

  p.thread_title {
    font-size: 21px;
    font-size: 1.113rem;
    color: #666;
  }

  p.card-text {
    color: #999;
  }

  .btn_hamburger a {
    margin-top: 11px;
  }

  .btn_hamburger span:nth-of-type(1) {
    top: 8px;
  }

  .btn_hamburger span:nth-of-type(2) {
    top: 17px;
  }

  .btn_hamburger span:nth-of-type(3) {
    bottom: 3px;
  }
}

@media screen and (min-width: 990px) {
  figure.thr_thumbnail {
    max-width: 235px;
  }

  div .card {
    min-height: 107px;
  }

  img {
    width: 80px;
    height: 80px;
  }

  p.thread_title {
    font-size: 21px;
    font-size: 1.113rem;
    color: #666;
  }

  .btn_hamburger a {
    margin-top: 11px;
  }

  .btn_hamburger span:nth-of-type(1) {
    top: 8px;
  }

  .btn_hamburger span:nth-of-type(2) {
    top: 15.4px;
  }

  .btn_hamburger span:nth-of-type(3) {
    bottom: 3px;
  }
}

